
  <div *ngIf="this.data.navshow" class="ui large secondary inverted pointing menu" style="border: 0;padding-bottom: 1%;margin-bottom: 0;
  background-image: linear-gradient(160deg,#133d5f 0,#b71f38 100%);">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    <a class="" style="padding:1%" routerLink="../home"><img style="background-color: white" class="ui small   image" src="./assets/logo.png"></a>

    <div class="right item">
      <a class="item" routerLink="../spread">Spreads</a>
      <a routerLink="../profile" class="item" style="color: black" *ngIf="data.isAuthenticated()">Profile</a>
      <a *ngIf="!data.isAuthenticated()" class="ui item button" style="background-color: #1d5f96;color:white" routerLink="../login">Log in</a>
      <a *ngIf="data.isAuthenticated()" class="ui item button" style="background-color: #1d5f96;color:white" (click)="logout()">Log out</a>
      <a *ngIf="!data.isAuthenticated()" class="ui item button" style="background-color:#e21745;color:white" routerLink="../signup">Sign Up</a>
    </div>
  </div>
  <div class="ui negative message" *ngIf="data.loginerror" style="margin: 0;color:red">

    <div class="header" style="margin: 0">
      {{data.loginerror}}
    </div>
  </div>
<router-outlet></router-outlet>

  <div class="ui  vertical footer segment" style="background-image: linear-gradient(160deg,#133d5f 0,#b71f38 100%);">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">

          <a class="" style="padding:1%" routerLink="../home"><img style="background-color: white" class="ui small   image" src="./assets/logo.png"></a>

        </div>
        <div class="three wide column" >
          <h4 class="ui inverted header" >Links</h4>
          <div class="ui inverted link list">
            <a routerLink="../spread" class="item" >Spreads</a>
            <a routerLink="../login" class="item"  *ngIf="data.isAuthenticated()">login</a>
            <a routerLink="../signup" class="item"  *ngIf="data.isAuthenticated()">signup</a>

          </div>
        </div>
        <div class="seven wide column" >
          <h4 class="ui inverted header" >Connect</h4>
          <a href="#" style="padding: 2%;"><i class="fa fa-dribbble fa-2x"></i></a>
          <a href="#" style="padding: 2%;"><i class="fa fa-twitter fa-2x" ></i></a>
          <a href="#" style="padding: 2%;"><i class="fa fa-linkedin fa-2x"></i></a>
          <a href="#" style="padding: 2%;"><i class="fa fa-facebook fa-2x"></i></a>
        </div>
      </div>
    </div>
  </div>

